@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --green-color: #739169;
}

body {
    max-width: 1200px;
    margin: auto;
}

.navbar-collapse {
    text-align: right;
}

.top-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-light {
    background-color: transparent!important;
    /* color: black; */
 }

.logo {
    margin: 10px 10px;
    display: block;
    width: 40%;
    max-width: 120px;
    min-width: 120px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}


.banner {
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
 } 

.banner-text {
    width: 50%;
    padding: 70px 10px 0px 20px;
}

.banner-photo {
    width: 50%;
    padding: 0px 10px 0px 10px;
}

.banner-photo img {
    width: 100%;
    display: block; 
    min-width: 400px;
}

@media (max-width: 755px) { 
    .banner {
        display: flex;
        flex-direction: column;
        margin-bottom: -100px;
    }

    .banner-text {
        width: 100%;
        padding: 100px 10px 50px 20px;
    }

    .banner-photo {
        padding: 10px;
        width: 100%;
    }
}

@media (min-width: 950px) {
    .banner {
        margin-bottom: -100px;
    }
}

.banner-text h1 {
    font-weight: bold;
    font-size: 54px;
}

.green-text {
    color: var(--green-color);
}

.black-decoration {
    display: block;
    width: 70%;
    margin: auto;
}

.btn {
    font-size: 12px;
    height: 50px;
    font-weight: bold;
}

.button-green {
    color: white;
    background-color: var(--green-color);
    border-color: none;
    text-transform: uppercase;
    padding: 15px;
    width: 110px;
}

.button {
    padding: 15px;
    border-color: #f2efe9;
    text-transform: uppercase;
    width: 90px;
}

#home .banner .banner-text p {
    font-size: 20px;
}

/*MAIN*/

/*about me*/

.background-image {
    transform: scale(1, 1);
    margin: auto;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-image: url("../img/background-section-about-me.jfif");
    background-color: black;
}

.about-me {
    padding: 170px 40px 0px 40px;
}

.text-background {
    background: rgba(0, 0, 0, 0.52);
    padding: 75px 20px 20px 20px;
}

.background-image .about-me h3 {
    font-size: 20px;
    padding-top: 10px;
}

.about-me p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.about-me h2 {
    font-size: 38px;
    font-weight: bold;
}

.green-decoration {
    height: 2px;
    width: 10%;
    background-color: var(--green-color);
}

/*results*/

@media (min-width: 600px) {
    .results-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .results-box {
        display: flex;
        justify-content: space-around;
    }
}

.results-box {
    font-size: 20px;
    text-align: center;
}

.box {
    padding: 30px;
    text-align: center;
}

.box-decoration {
    display: inline-block;
    height: 2.5px;
    width: 10%;
    background-color: var(--green-color);
}

.results {
    background-color: black;
    color: white;
}

.results h3 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: -15px;

}

.results .white-decoration img {
    padding-bottom: 20px;
    display: block;
    width: 50%;
    margin: auto;
}

.results h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.results p {
    margin: 0px;
}

/* Carousel */

/* .carousel img {
    display: block;
    max-width: 400px;
    margin: auto;
}

.buttons-carousel {
    display: flex;
    justify-content: center;
}

.button-back, .button-forward, .button-stop {
    margin: 20px;
    padding: 3px;
    border-radius: 10%;
} */

/* Stories */

.stories-background {
    background-image: url("../img/stories-background.jfif");
    margin: auto;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.storie-title {
    padding-top: 30px;
    color: white;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
}

.storie-title h2 {
    margin-bottom: -20px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}

.stories-content p a {
    color: black;
}

.stories-img img {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    padding: 20px 20px 20px 20px;
    width: 100%;
    min-width: 400px;
}

.stories-box {
    padding-top: 30px;
}

.stories-content {
    padding: 20px;
}

.date {
    font-size: 14px;
    color: #463f36;
}

.jack {
    display: flex;
}

.jack img {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
}

.jack p {
    margin: 0px 0px 0px 10px ;
}

@media (min-width: 750px) {
    .stories-box {
        display: flex;
    }

    .stories-img {
        max-width: 450px;
    }
}

/* Gallery */

.black-gallery-decoration img {
    display: block;
    width: 40%;
    margin: auto;
    padding-top: 25px;  
}

.instagram-subscribe {
    text-align: center;
}

.instagram-subscribe h2{
    margin: 0px;
    font-size: 34px;
    font-weight: bold;
}

.instagram-subscribe p a{
    font-weight: 20px;
}

.gallery-decoration {
    display: inline-block;
    height: 2.5px;
    width: 5%;
    background-color: black;
}

.carousel-inner img {
    display: block;
    margin: auto;
    display: table-cell;
    width: 90%;
    height: 90%;
}

/* Follow-me */


.follow-me {
    background-image: url(../img/green-background.png);
    height: 550px;
    background-repeat: no-repeat;
    display: block;
}

.follow-me-decoration {
    display: inline-block;
    height: 2.5px;
    width: 6%;
    background-color: white;
    margin: 15px;
}

.box-follow-me  {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-follow-me h2 {
    font-size: 42px;
    color: white;
    font-weight: bold;
}

.box-follow-me p {
    color: white;
    font-size: 20px;
}

.box-icons img {
    max-width: 37px;
    margin: 5px;
}
.box-icons {
    display: flex;
}

/* Contacts */

.ask-me-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black;
    width: 350px;
    height: 880px;
    margin: auto;
}
.content-box h2 {
    font-size: 38px;
    font-weight: bold;
}