@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --green-color: #739169;
}

body {
    max-width: 1100px;
    margin: auto;
}

.navbar-collapse {
    text-align: right;
}

.top-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 .bg-light {
     background-color: transparent!important;
 }

.logo {
    margin: 10px 10px;
    display: block;
    width: 40%;
    max-width: 100px;
    min-width: 100px;
}

.banner {
    display: flex;
    padding: 10px;
 } 

.banner-text {
    width: 50%;
    padding: 10px;
}

.banner-photo {
    width: 50%;
    padding: 10px;
}

.banner-photo img {
    width: 100%;
    display: block;
    
}

@media (max-width: 730px) { 
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
        padding: 10px;
    }

    .banner-photo img {
        width: 100%;
    }

    .banner-photo {
        padding: 10px;
        width: 100%;
    }
 }

.banner .banner-text h1 {
    font-size: 54px;
    font-weight: bold;
}

.green-text {
    color: var(--green-color);
}

.black-decoration {
    display: block;
    width: 70%;
    margin: auto;
}



.button1 {
    background-color: var(--green-color);
    border-color: black;
}

.button {
    border-color: black;
}

#home .banner .banner-text p {
    font-size: 20px;
}

/*MAIN*/

/*about me*/

.background-image {
    transform: scale(1, 1);
    margin: auto;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-image: url(../img/background-section-about-me.jfif);
    background-color: black;
}

.about-me {
    padding: 250px 50px 0px 50px;
}

.background-image .about-me h3 {
    font-size: 20px;
    padding-top: 10px;
}

.about-me p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.about-me h2 {
    font-size: 38px;
    font-weight: bold;
}


.green-decoration {
    height: 2px;
    width: 10%;
    background-color: rgb(115, 145, 105);
}

/*results*/

.results {
    background-color: black;
    color: white;
}

.results h3 {
    font-weight: bold;
    font-size: 38px;
}

.results .white-decoration img {
    display: block;
    width: 50%;
    margin: auto;
}

.results h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}