@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
    --green-color: #739169;
}

body {
    max-width: 980px;
    margin: auto;
}

.navbar-collapse {
    text-align: right;
}

.top-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 .bg-light {
     background-color: transparent!important;
 }

.logo {
    display: block;
    width: 40%;
    max-width: 170px;
    min-width: 100px;
}

.banner {
    display: flex;
    padding: 100px 0px; 
    flex-direction: row;
 }  

@media (max-width: 650px) { 
    .banner {
        display: flex;
        padding: 100px 0px; 
        flex-direction: column;
    }
    .banner .banner-text {
        padding: 70px 0px;
    }
 }

.banner .banner-text h1 {
    font-size: 54px;
    font-weight: bold;
}

.banner .banner-photo img {
    margin: auto;
    display: block;
    max-width: 650px;
    width: 100%;
}

.green-text {
    color: var(--green-color);
}

.black-decoration {
    display: block;
    width: 70%;
    margin: auto;
}